{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "AllowedHosts": "*",
  "Dashboard": {
    "RefreshSeconds": {{RefreshSeconds}},
    "TableName": "{{TableName}}",
    "TimestampColumn": "{{TimestampColumn}}",
    "MachineColumn": "{{MachineColumn}}",
    "ConnectionString": "{{ConnectionString}}"
  }
}
